@import "tailwindcss";

@font-face {
  font-family: "Bahnschrift";
  src: url("./fonts/Bahnschrift/Bahnschrift.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./fonts/PlusJakartaSans/PlusJakartaSans-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, p {
  font-family: "PlusJakartaSans", sans-serif;
}

.marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}